@tailwind base;
@tailwind components;
@tailwind utilities;


.post-page {
    @apply p-4 max-w-2xl mx-auto;
}

.image-container img {
    @apply max-w-full h-auto rounded-lg shadow-lg;
}

.og-image {
    width: 1200px;
    height: 630px;
    background-color: white;
    border: 1px solid #e2e8f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.og-image h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2d3748;
}

.og-image p {
    font-size: 1.5rem;
    color: #4a5568;
}

.og-image img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

